@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(15, 15, 248, 0.5);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    color: white;
    padding: 15px;
    text-align: center;
    font-style: italic
}